# OS / editor cruft
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*.swp

# dependencies
node_modules/
npm-debug.log*
.pnp
.pnp.js

# next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# env
.env*
!.env.example

# vercel
.vercel
